<ion-content [fullscreen]="true">
  <ion-header mode="ios">
    <ion-toolbar>
      <ion-button slot="start" fill="solid" class="button-back" (click)="back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      <ion-title>Consulta de Facturas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
      </ion-col>
      <ion-col size="6" class="ion-text-end">

      </ion-col>
    </ion-row>
    <ion-list *ngIf="paymentGenerate === null">
      <ion-list-header>
        <h2>Facturas por pagar</h2>
      </ion-list-header>
      <ion-item lines="none" *ngFor="let bill of this.bills">
        <ion-icon slot="start" name="cash" color="primary"></ion-icon>
        <ion-label size="large" class="ion-text-wrap">
          <b>{{bill.description + ' - ' + bill.reference }}</b>
          <p>
            {{bill?.total}}
          </p>
        </ion-label>
        <ion-button *ngIf="bill.status === 'Pending' " class="make-payment-button" slot="end" (click)="makePayment(bill)">Pagar</ion-button>
        <ion-button *ngIf="bill.status !== 'Pending' " class="more-information-button" slot="end" id="open-modal-{{bill._id}}" (click)="moreInformation(bill)">Mas Informacion</ion-button>
        <ion-modal trigger="open-modal-{{bill._id}}" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Información del pago </ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="cancel()">Cerrar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <ion-list>
                <ion-item>
                  <ion-label>
                    <h2>Referencia:</h2>
                    <p>{{this.billSelected?.reference}}</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <h2>Descripción:</h2>
                    <p>{{this.billSelected?.description}}</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <h2>Total:</h2>
                    <p>{{this.billSelected?.total}}</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <h2>Estado:</h2>
                    <p>{{this.billSelected?.status}}</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <h2>Documento:</h2>
                    <p>{{this.billSelected?.document}}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="paymentGenerate !== null">
      <ion-list-header>
        <h2>Informacion de pago</h2>
      </ion-list-header>
      <ion-item>
        Referencia: {{paymentGenerate.payment.reference}}
      </ion-item>
      <ion-item>
        Estado: {{paymentGenerate.payment.status}}
      </ion-item>
      <ion-item>
        Valor: {{paymentGenerate.payment.total}}
      </ion-item>
      <ion-button class="submit-button" expand="block" type="submit" (click)="refreshPayment()">Actualizar estado del pago</ion-button>
    </ion-list>
  </ion-grid>
</ion-content>
